
{% extends "layout.html" %}
{% load static %}
{% block title %}
    Denegado 
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="alert alert-danger" role="alert">
        <h1 class="display-4">Acceso Denegado</h1>
        <p class="lead">Solo <strong>Ledesma</strong> puede </br> eliminar,editar o agregar registros.</p>
        <a href="{% url 'bajas:list' %}" class="btn btn-primary mt-3">Volver a la lista</a>
    </div>
</div>
{% endblock %}
