<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anexo A3</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 12px;
        line-height: 1.5;
      }
      .header,
      .footer {
        text-align: center;
      }
      .content {
        margin: 20px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h2>
        No 4. ANEXO A 3, ACTA DE LA COMISION DE AUTORIZACION DE BAJAS TECNICAS
      </h2>
      <p><strong>Fecha de emisión:</strong> {{ baja.fecha_solicitud }}</p>
    </div>
    <div class="content">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">INVENTARIO <br> PARA AFT; <br> INMOVILIZADO <br> PARA <br> HERRAMIENTA</th>
            <th scope="col">DENOMINACION <br> DEL MEDIO <br> SEGÚN SAP</th>
            <th scope="col">UNIDAD <br>ORGANIZATIVA,<br>AREA<br>SOLICITANTE</th>
            <th scope="col">MOTIVO DE BAJA:<br>OBSOLESCENCIA o<br>DETERIORO</th>
            <th scope="col">DESTINO<br>FINAL<br>PROPUESTO</th>
            <th scope="col">AÑOS DE USO;VALOR<br>RESIDUAL;MAS<br>DETALLADO ESTADO<br>TECNICO</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td scope="row">1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="">
            <td scope="row">2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
      <p>AL PARECER NO TIENE FOOTER</p>
     
    </div>
  </body>
</html>
